body {
  background-color: #141414;
}
header {
  width: 95%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
h2 {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
  color: #e7e5e5;
  font-size: 60px;
  margin: 250px;
}
h3 {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
  color: #e7e5e5;
  font-size: 20px;
  margin: 250px;
}

.img1 {
  width: 125px;
  height: 29px;
}
.iml {
  width: 15px;
  height: 15px;
}

.nav-links a {
  margin: 15px;
  text-decoration: none;
  color: #b1aeac;
  font-size: 15px;
  transition: color 0.2s;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  width: 400px;
  height: 60px;
}
button {
  font-size: 1rem;
  align-items: center;
  height: 48px;
  border-radius: 1rem;
  border-color: #fffefe;
  background: #141414;
}

.button1 {
  font-size: 15px;
  color: #fffefe;
  transition: color 0.2s;
  font-family: "Montserrat", sans-serif;
}
button:hover {
  background: #000000;
}
.bt2 {
  font-size: 1rem;
  align-items: center;
  height: 48px;
  border-radius: 1rem;
  border-color: #f7f7f7;
  background: #f7f7f7;
}
.button2 {
  font-size: 15px;
  color: #000000;
  transition: color 0.2s;
  font-family: "Montserrat", sans-serif;
}
.bt2:hover {
  background: #e7e5e5;
}
.button3 {
  font-size: 15px;
  color: #fffefe;
  transition: color 0.2s;
  font-family: "Montserrat", sans-serif;
  margin: 70px;
}
.button3:hover {
  background: #000000;
}

.ps {
  margin-left: 90px;
}
.reg {
  margin-left: 250px;
  border: 0.5px solid rgb(197, 197, 223);
  background-color: #141414;
  width: 434px;
  height: 250px;
  border-radius: 20px;
}
input {
  font-size: 15px;
  color: #000000;
  transition: color 0.2s;
  font-family: "Montserrat", sans-serif;
  margin: 40px;
  border-radius: 20px;
  width: 250px;
  height: 40px;
}
input:hover {
  background-color: #adacac;
  border: 1px solid rgb(197, 197, 223);
}
.divider {
  text-align: center;
  color: #141414;
  font-size: 23px;
  margin: 20px;
}
.dd {
  text-align: center;
  color: #141414;
  font-size: 23px;
  margin: 140px;
}
