body {
  background-color: #141414;
}
header {
  width: 95%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.img1 {
  width: 125px;
  height: 29px;
}
.nav-links a {
  margin: 15px;
  text-decoration: none;
  color: #b1aeac;
  font-size: 15px;
  transition: color 0.2s;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  width: 400px;
  height: 60px;
}
button {
  font-size: 1rem;
  align-items: center;
  height: 48px;
  border-radius: 1rem;
  border-color: #fffefe;
  background: #141414;
}

.button1 {
  font-size: 15px;
  color: #fffefe;
  transition: color 0.2s;
  font-family: "Montserrat", sans-serif;
}
button:hover {
  background: #000000;
}
.bt2 {
  font-size: 1rem;
  align-items: center;
  height: 48px;
  border-radius: 1rem;
  border-color: #f7f7f7;
  background: #f7f7f7;
}
.button2 {
  font-size: 15px;
  color: #000000;
  transition: color 0.2s;
  font-family: "Montserrat", sans-serif;
}
.bt2:hover {
  background: #e7e5e5;
}
